body {
  margin: auto;
  background-color: #f8f8f8;
}

h1 {
  color: #000;
  font-family: Rowdies;
  font-weight: lighter;
  font-size: 3rem;
  padding-bottom: 10%;
}

h1 span {
  color: #ff5e00;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #ff5e00;
  font-weight:lighter;
  font-family: Rowdies;
}

.navbar {
  background-color: transparent !important;
  backdrop-filter: blur(1px); /* Adjust the blur amount as needed */
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar-brand {
  width: 100px;
  height: 90px;
}
.navbar-toggler{
  background-color: #fff;
  color: #fff;
}
.navbar-toggler:hover{
  background-color: #ff5e00;
}

.navbar-nav .nav-link {
  margin-right: 50px;
}

.container-1 {
  height: 750px;
  font-weight: bolder;
}

.black1 {
  width: 600px;
  height: 700px;
  position: absolute;
  right: 0;
  top: 0;
}

.plate {
  position: absolute;
  right: 260px;;
  top: 100px;
  animation: spin 20s  linear infinite;
}

.c1-text-button {
  display: flex;
  flex-direction: column;
 padding-top: 10%;
  padding-left: 5%;
}

.buttons {
  padding-top: 0;
}


.container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10vh;
}

a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #010101;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid #ff5e00;
  position: relative;
  overflow: hidden;
  margin-right: 40px;
  color: #090909;
  
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  color: #0a0a0a;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #ff5e00, transparent);
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

.container-2 {
  text-align: center;
}

.boxes {
  display: flex;
  flex-wrap: wrap; /* Allow boxes to wrap to the next row on smaller screens */
  justify-content: space-around;
}

.box {
  flex: 1; /* Distribute available space equally among boxes */
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  max-width: 300px; /* Limit maximum width of each box */
}

#box-img {
  width: 100%;
  max-width: 200px; /* Limit the maximum width of the image */
  height: auto; /* Maintain aspect ratio */
}


.container-3 {
 
  padding: 5% 10%;
  background-color: #000;
}

.container-3 p {
  margin: 10px;
  color: #f8f8f8;
}

.container-3-h1 {
  color: white;
  text-align: center;
}

.container-3-box {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 30px;
  border: solid 1px rgb(255, 119, 0);
  border-radius: 5px;
}

.phone1 {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 20px;
}
/* Style for the "Benefits of QR Menu" section */
.container-4 {
  text-align: center;
  padding: 4% 10%;
}

.container-4 h1 {
  
  font-size: 2rem; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Add spacing below the header */
}

.container-4 ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
}

.container-4 li {
  font-size: 1.2rem; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Add spacing between list items */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container-4 {
    padding: 4% 5%; /* Adjust padding for smaller screens */
  }

  .container-4 h1 {
    font-size: 1.8rem; /* Adjust font size for smaller screens */
  }
}

.bottom-container {
  height: auto;
  background-color: #010101;
  text-align: center;
 
  padding: 20px;
}
.bottom-container h1{
  color: #fff;
}
.social {
  display: flex;
  flex-wrap: wrap;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container a:hover{
  color: #000;
  background-color: #ff5e00;

}
.social a{
  color: #ff5e00;
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  height: auto;
  width: auto;
  align-items: center;
  background: transparent;
 
  border-radius: 10%;
  padding: 14px;
  text-decoration: none;
 
}


/* Mobile-first styles */
@media (max-width: 767px) {
  /* Adjustments for screens up to 767px wide */
  h1 {
    font-size: 2rem;
  }
  .black1{
    width: 200px;
    height: 300px;
  }
  .plate{
    position: absolute;
    right: 30px;
  
    height: 200px;
  }
  .container-1{
    height: 300px;
  }
  .container-2 {
    text-align: center;
  }
  .boxes {
    display: flex;
    justify-content: space-around;
  } 
  .box {  
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  /* Adjust the sizes of your buttons and other elements as needed */
}

@media (max-width: 768px) {
  .boxes {
      flex-direction: column; /* Stack boxes vertically on smaller screens */
      align-items: center; /* Center-align boxes */
  }
}
@media (min-width: 768px) {
  .container-3 {
      text-align: center;
    
      
  }

  .container-3-box {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
     
      
  }
  

  .phone1 {
      margin-top: 0;
  }

  .container-3-box p {
      margin-top: 0;
      margin-left: 20px;
  }



  .social {
    flex-direction: row; /* Stack links vertically on smaller screens */
    text-align: center;
    
  }
}



@keyframes spin{
  0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

